__pycache__/
.env/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
logs/
models/
package.json
package-lock.json
data/nasa_yuwe_dictionary.json
__pycache__/grammar_engine.cpython-313.pyc